.content {
    position: relative;
    height: 80vh;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    box-sizing: border-box;
}

.block {
    position: absolute;
    width: 70px;
    height: 70px;
    box-shadow: 0px 0px 3px black;
}

.mark {
    box-shadow: 1px 1px 17px red;
}

.red {
    background-color: red;
    top: 20px;
}

.green {
    background-color: green;
    top: 100px;
}

.yellow {
    background-color: yellow;
    top: 200px;
}

.blue {
    background-color: blue;
    top: 300px;
}

.invisible {
    display: none;
}

.context-menu {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 130px;
    list-style: none;
    cursor: pointer;
    z-index: 500;
}

.context-menu li {
    background-color: rgb(175, 175, 175);
    padding: 5px 20px;
}

.context-menu li:hover {
    background-color: rgb(223, 79, 54);
}